<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
    <head>
        <meta charset="UTF-8">
        <title>帮助</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/Other.css}">
        <link rel="stylesheet" type="text/css" href="/static/css/Other.css">
        <style>
            body {
                padding: 10px;
                width: 880px;
                display: flex;
                border-radius: 10px;
                font-family: "YaHei", serif;
            }
            .frame {
                border: 5px solid black;
                display: flex;
                flex-direction: column;
                border-radius: 10px;
                width: 870px;
            }
        </style>
    </head>
    <body>
        <div class="frame">
            <div class="helpList">
                <div class="helpContent">
                    <div class="helpItem" th:each="help:${helpList}">
                        <div class="command" th:text="${help.command}">如何开始</div>
                        <div class="description" th:text="${help.description}">点击右上角的“开始”按钮，然后选择一个天赋。
                        </div>
                    </div>
                </div>
            </div>
            <div class="wuLiangInfo">
                <div class="wuLiangTxt">
                    <div style="color: gold;margin-right: 3px"> ★ </div>
                    From WuLiang Bot
                </div>
            </div>
        </div>
    </body>
</html>