<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/LifeRestart.css}">
        <link rel="stylesheet" type="text/css" href="/static/css/LifeRestart.css">

    </head>
    <body>
        <div class="properties">
            <div class="property CHR">
                <div class="propertyText">颜值</div>
                <div class="propertyValue" th:text="${property['CHR']}">1</div>
            </div>
            <div class="property INT">
                <div class="propertyText">智力</div>
                <div class="propertyValue" th:text="${property['INT']}">2</div>
            </div>
            <div class="property STR">
                <div class="propertyText">体质</div>
                <div class="propertyValue" th:text="${property['STR']}">3</div>
            </div>
            <div class="property MNY">
                <div class="propertyText">家境</div>
                <div class="propertyValue" th:text="${property['MNY']}">4</div>
            </div>
            <div class="property SPR">
                <div class="propertyText">快乐</div>
                <div class="propertyValue" th:text="${property['SPR']}">5</div>
            </div>

        </div>
        <div class="main">
            <div class="each" th:each="sendArray:${sendStr}"
                 th:style="'background-color:' + (${sendArray[0]['event'].grade} == null ? '#5b5c64' : (${sendArray[0]['event'].grade} == 1 ? '#6767f2' : (${sendArray[0]['event'].grade} == 2 ? '#d96ed9' : '#dcc056')))">
                <span class="ageText" th:text="${sendArray[0]['age']}+'岁:'"></span>
                <div class="textBox">
                    <th:block th:each="sendMap, iterStat : ${sendArray}">
                        <div class="eachText">
                            <span th:text="${sendMap['event'].event}"></span>
                            <span th:if="${sendMap['event'].postEvent != null && sendArray.size()==1}"
                                  th:text="${sendMap['event'].postEvent}">
                            </span>
                        </div>
                    </th:block>
                </div>
                <div class="propertyChange" th:each="sendMap:${sendArray}" th:if="${sendMap['effect']!=''}">
                    <span th:text="${sendMap['effect']}">颜值+1</span>
                </div>
            </div>
        </div>
    </body>
</html>