@font-face {
    font-family: 'YaHei';
    src: url('../../static/ttf/微软雅黑.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.helpList {
    width: 630px;
    display: flex;
    font-family: "YaHei", serif;
}

.helpContent {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 10px 10px;
}

.helpItem {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: white;
    box-shadow: 2px 2px 10px black;
    padding: 10px;
    grid-row-gap: 5px;
}

.command {
    font-weight: bold;
    font-size: 18px;
}