@font-face {
    font-family: 'HanYiQiHei';
    src: url('../ttf/汉仪旗黑.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.warframeArchonHunt {
    margin: 10px;
}

.archonHuntHead {
    display: flex;
    flex-direction: row;
}

.purpleText {
    color: #7120a1
}

.blueText {
    color: #28adff
}

.orangeText {
    color: #ff5a28;
}

.greenText {
    color: #87df87
}

.huntBoss {
    color: chocolate;
}

.huntType {
    color: #087998;
}

.huntTimeInfo {
    color: #ff5a28;
}

.warframeSortie {
    margin: 10px;
}

.sortieTaskType {
    color: #9321da;
}

.taskBuff {
    text-indent: 1em
}

.wfSteelPath {
    margin: 10px;
    display: grid;
    row-gap: 5px;
}

.steelPathItem {
    color: #218dda;
}

.warframeVoidTrader {
    margin: 10px;
}

.voidTraderHead {
    display: flex;
    flex-direction: row;
}

.voidTraderLocation {
    color: #0073e6;
}

.voidItemName {
    color: #ff5a28;
}

.voidDucats {
    color: #FA7F08;
}

.voidLeaveTime {
    color: #F24405;
}

.warframeLich {
    margin: 10px;
}

.warframeLichHead {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}

.eachLichTask {
    display: flex;
    flex-direction: row;
    align-content: center;
}

.eachRivenTask {
    display: flex;
    flex-direction: column;
}

.rivenPrice {
    display: flex;
}

.rivenHead {
    display: flex;
}

.rivenPriceDetail {
    margin-left: 5px;
    margin-right: 10px;
}

.rivenHeadDetailAll {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 5px;
}

.positiveAll {
    display: flex;
    flex-direction: row;
}

.eachPositive {
    display: grid;
    grid-template-columns: repeat(3, 170px);
    column-gap: 5px;
}

.positiveText {
    margin-right: 10px;
}

.sellerInfo {
    display: flex;
}

.sellDivisionText {
    margin-left: 10px;
}

.rivenHelp {
    display: flex;
    flex-direction: column;
}

.warframeNightWaveHead {
    display: flex;
    flex-direction: column;
}

.nightTask {
    margin-top: 20px;
    margin-bottom: 20px;
}

.eachNightTask {
    display: flex;
}

.nightHelp {
    display: flex;
    flex-direction: column;
}

.nightHelpDetail {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
}

.warframeInvasions {
    margin: 10px;
}

.invasionsTask {
    margin-bottom: 10px;
    margin-top: 10px;
    display: grid;
    row-gap: 15px;
}

.eachInvasionsTask {
    display: flex;
    flex-direction: column;
}

.progress-bar-container {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: repeat(1, auto);
    align-items: center;
}

.barFrame {
    box-sizing: border-box;
    width: 50%;
    border: 1px solid #2d2e32;
    border-radius: 10px;
}

.eachBar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.eachFaction {
    display: flex;
}

.progress-bar {
    width: 20%; /* 初始宽度为 20% */
    height: 20px;
    background-color: #4CAF50; /* 绿色 */
    border-radius: 10px; /* 圆角 */
}

.invasionFactions {
    display: flex;
    flex-direction: column;
}