@font-face {
    font-family: 'HanYiQiHei';
    src: url('../ttf/汉仪旗黑.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.warframeArchonHunt {
    margin: 10px;
}

.archonHuntHead {
    display: flex;
    flex-direction: row;
}

.huntBoss {
    color: chocolate;
}

.huntType {
    color: #087998;
}

.huntTimeInfo {
    color: #ff5a28;
}

.warframeSortie {
    margin: 10px;
}
.sortieTaskType{
    color: #9321da;
}

.sortieFaction {
    color: #207de6;
}

.taskBuff {
    text-indent: 1em
}

.wfSteelPath{
    margin: 10px;
    display: grid;
    row-gap: 5px;
}

.steelPathItem {
    color: #218dda;
}