@font-face {
    font-family: 'HanYiQiHei';
    src: url('../ttf/汉仪旗黑.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.warframeArchonHunt {
    margin: 10px;
}

.archonHuntHead {
    display: flex;
    flex-direction: row;
}

.purpleText {
    color: #7120a1
}

.huntBoss {
    color: chocolate;
}

.huntType {
    color: #087998;
}

.huntTimeInfo {
    color: #ff5a28;
}

.warframeSortie {
    margin: 10px;
}

.sortieTaskType {
    color: #9321da;
}

.sortieFaction {
    color: #207de6;
}

.taskBuff {
    text-indent: 1em
}

.wfSteelPath {
    margin: 10px;
    display: grid;
    row-gap: 5px;
}

.steelPathItem {
    color: #218dda;
}

.warframeVoidTrader {
    margin: 10px;
}

.voidTraderHead {
    display: flex;
    flex-direction: row;
}

.voidTraderLocation {
    color: #0073e6;
}

.voidItemName {
    color: #ff5a28;
}

.voidDucats {
    color: #FA7F08;
}

.voidCredits {
    color: #3695fa;
}

.voidLeaveTime {
    color: #F24405;
}

.warframeLich {
    margin: 10px;
}

.warframeLichHead {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}

.lichName {
    color: #9321da;
}

.eachLichTask {
    display: flex;
    flex-direction: row;
    align-content: center;
}

.eachRivenTask {
    display: flex;
    flex-direction: column;
}

.rivenPrice {
    display: flex;
}

.rivenHead {
    display: flex;
}

.rivenPriceDetail {
    margin-left: 5px;
    margin-right: 10px;
    color: #28adff;
}

.rivenHeadDetailAll {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 5px;
}

.rivenHeadDetail {
    color: #28adff;
}

.positiveAll {
    display: flex;
    flex-direction: row;
}

.eachPositive {
    display: grid;
    grid-template-columns: repeat(3, 170px);
    column-gap: 5px;
}

.positiveText {
    margin-right: 10px;
}

.sellerInfo {
    display: flex;
}

.sellerStatus {
    color: #87df87
}

.sellDivisionText {
    margin-left: 10px;
}

.rivenHelp {
    display: flex;
    flex-direction: column;
}