<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
    <head>
        <meta charset="UTF-8">
        <title>Warframe 执刑官</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/Other.css}">
        <link rel="stylesheet" type="text/css" href="/static/css/Other.css">
        <link rel="stylesheet" type="text/css" th:href="@{/css/Warframe.css}">
        <link rel="stylesheet" type="text/css" href="/static/css/Warframe.css">
        <style>
            body{
                padding: 10px;
                width: 435px;
                border-radius: 10px;
                font-family: "HanYiQiHei",serif;
            }
            .frame {
                width: 425px;
            }
        </style>
    </head>
    <body>
        <div class="frame">
            <div class="warframeArchonHunt" th:object="${archonHuntEntity}">
                <div class="archonHuntHead">
                    <div class="huntFaction" th:text="${archonHuntEntity.faction}"/>
                    <div class="huntBoss" th:text="'「'+${archonHuntEntity.boss}+'」'"/>
                    <span>带着Tenno通牒</span>
                    <div class="huntReward"
                         th:text="'「' + ${archonHuntEntity.rewardItem} + '」'"
                         th:style="'color:' + (${archonHuntEntity.rewardItem.contains('红')} ? 'red' : (${archonHuntEntity.rewardItem.contains('蓝') ? '#32c5ff' : '#ff9900'}))"/>
                    <span>来袭:</span>
                </div>
                <div class="huntTask">
                    <div class="eachTask" th:each="task ,info: ${archonHuntEntity.taskList}">
                        <span>| 任务
                            <span th:text="${info.index + 1}"/>
                            <span th:text="(${info.index + 1 == 1 } ?  '(130-135)'  : (${info.index + 1 == 2 ? '(135-140)' : '(145-150)'}))"/>
                            <span>:</span>
                            <span class="huntType" th:text="${task.type}"/>
                            <span th:text="${task.node}"/>
                        </span>
                    </div>
                </div>
                <div class="huntTime">
                    <span>剩余时间: </span>
                    <span class="huntTimeInfo" th:text="${archonHuntEntity.eta}"/>
                </div>
            </div>
            <div class="wuLiangInfo">
                <div class="wuLiangTxt">
                    <div style="color: gold;margin-right: 3px">★</div>
                    From WuLiang Bot
                </div>
            </div>
        </div>
    </body>
</html>