<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
    <head>
        <meta charset="UTF-8">
        <title>Warframe 裂缝信息</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/Other.css}">
        <link rel="stylesheet" type="text/css" href="/static/css/Other.css">
        <link rel="stylesheet" type="text/css" th:href="@{/css/Warframe.css}">
        <link rel="stylesheet" type="text/css" href="/static/css/Warframe.css">
        <style>
            body {
                padding: 10px;
                width: 490px;
                border-radius: 10px;
                font-family: "HanYiQiHei", serif;
            }

            .frame {
                width: 480px;
            }

            .warframeFissure{
                margin: 10px;
            }

            .fissureEnemyKey {
                color: #005bb5;
            }

            .fissureMissionType {
                color: #9321da;
            }
        </style>
    </head>
    <body>
        <div class="frame">
            <div class="warframeFissure" th:object="${fissureList}">
                <div class="tierLich" th:if="${(fissureList.tierLich.size()!=0)}">
                    <span>古纪(T1)</span>
                    <div class="fissureItem" th:each="fissure: ${fissureList.tierLich}">
                        <span class="fissureEnemyKey" th:text="${fissure.enemyKey}"/>
                        <span class="fissureMissionType" th:text="${fissure.missionType}"/>
                        <span th:text="${fissure.node}"/>
                        <span>剩余: </span>
                        <span class="huntTimeInfo" th:text="${fissure.eta}"/>
                    </div>
                </div>
                <br th:if="${(fissureList.tierMeso.size()!=0)}">
                <div class="tierMeso" th:if="${(fissureList.tierMeso.size()!=0)}">
                    <span>前纪(T2)</span>
                    <div class="fissureItem" th:each="fissure: ${fissureList.tierMeso}">
                        <span class="fissureEnemyKey" th:text="${fissure.enemyKey}"/>
                        <span class="fissureMissionType" th:text="${fissure.missionType}"/>
                        <span th:text="${fissure.node}"/>
                        <span>剩余: </span>
                        <span class="huntTimeInfo" th:text="${fissure.eta}"/>
                    </div>
                </div>
                <br th:if="${(fissureList.tierNeo.size()!=0)}">
                <div class="tierNeo" th:if="${(fissureList.tierNeo.size()!=0)}">
                    <span>中纪(T3)</span>
                    <div class="fissureItem" th:each="fissure: ${fissureList.tierNeo}">
                        <span class="fissureEnemyKey" th:text="${fissure.enemyKey}"/>
                        <span class="fissureMissionType" th:text="${fissure.missionType}"/>
                        <span th:text="${fissure.node}"/>
                        <span>剩余: </span>
                        <span class="huntTimeInfo" th:text="${fissure.eta}"/>
                    </div>
                </div>
                <br th:if="${(fissureList.tierAxi.size()!=0)}">
                <div class="tierAxi" th:if="${(fissureList.tierAxi.size()!=0)}">
                    <span>后纪(T4)</span>
                    <div class="fissureItem" th:each="fissure: ${fissureList.tierAxi}">
                        <span class="fissureEnemyKey" th:text="${fissure.enemyKey}"/>
                        <span class="fissureMissionType" th:text="${fissure.missionType}"/>
                        <span th:text="${fissure.node}"/>
                        <span>剩余: </span>
                        <span class="huntTimeInfo" th:text="${fissure.eta}"/>
                    </div>
                </div>
                <br th:if="${(fissureList.tierRequiem.size()!=0)}">
                <div class="tierRequiem" th:if="${(fissureList.tierRequiem.size()!=0)}">
                    <span>安魂(T5)</span>
                    <div class="fissureItem" th:each="fissure: ${fissureList.tierRequiem}">
                        <span class="fissureEnemyKey" th:text="${fissure.enemyKey}"/>
                        <span class="fissureMissionType" th:text="${fissure.missionType}"/>
                        <span th:text="${fissure.node}"/>
                        <span>剩余: </span>
                        <span class="huntTimeInfo" th:text="${fissure.eta}"/>
                    </div>
                </div>
                <br th:if="${(fissureList.tierOmnia.size()!=0)}">
                <div class="tierOmnia" th:if="${(fissureList.tierOmnia.size()!=0)}">
                    <span>全能(T6)</span>
                    <div class="fissureItem" th:each="fissure: ${fissureList.tierOmnia}">
                        <span class="fissureEnemyKey" th:text="${fissure.enemyKey}"/>
                        <span class="fissureMissionType" th:text="${fissure.missionType}"/>
                        <span th:text="${fissure.node}"/>
                        <span>剩余: </span>
                        <span class="huntTimeInfo" th:text="${fissure.eta}"/>
                    </div>
                </div>
            </div>
            <div class="wuLiangInfo">
                <div class="wuLiangTxt">
                    <div style="color: gold;margin-right: 3px">★</div>
                    From WuLiang Bot
                </div>
            </div>
        </div>
    </body>
</html>