<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
    <head>
        <meta charset="UTF-8">
        <title>Warframe 复眠螺旋</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/Other.css}">
        <link rel="stylesheet" type="text/css" href="/static/css/Other.css">
        <link rel="stylesheet" type="text/css" th:href="@{/css/Warframe.css}">
        <link rel="stylesheet" type="text/css" href="/static/css/Warframe.css">
        <style>
            body {
                padding: 10px;
                width: 435px;
                border-radius: 10px;
                font-family: "HanYiQiHei", serif;
            }

            .frame {
                width: 425px;
            }

            .dmgImg {
                height: 15px;
            }
        </style>
    </head>
    <body>
        <div class="frame">
            <div class="warframeSpirals" th:object="${moodSpiralsEntity}">
                <span>当前复眠螺旋状态如下:</span>
                <div class="spirals-detail">
                    <div>
                        <span th:switch="${moodSpiralsEntity.damageType}">
                            <span th:case="'虚空'" th:text="${moodSpiralsEntity.currentState}" style="color:#006C72"/>
                            <span th:case="'火焰'" th:text="${moodSpiralsEntity.currentState}"
                                  style="color:rgb(214,100,15)"/>
                            <span th:case="'冰冻'" th:text="${moodSpiralsEntity.currentState}"
                                  style="color:rgb(63,109,198)"/>
                            <span th:case="'电击'" th:text="${moodSpiralsEntity.currentState}"
                                  style="color:rgb(174,125,198)"/>
                            <span th:case="'毒素'" th:text="${moodSpiralsEntity.currentState}"
                                  style="color:rgb(117,194,34)"/>
                        </span>
                        <span>复眠螺旋</span>
                    </div>
                    <div>
                        <span>王镜中伤害类型:</span>
                        <span th:switch="${moodSpiralsEntity.damageType}">
                            <span th:case="'虚空'">
                                <img class="dmgImg" alt=""
                                     src="https://huiji-thumb.huijistatic.com/warframe/uploads/thumb/7/7e/DmgVoidSmall64.png/18px-DmgVoidSmall64.png">
                                <span style="color:#006C72">虚空</span>
                            </span>
                            <span th:case="'火焰'">
                                <img class="dmgImg" alt=""
                                     src="https://huiji-thumb.huijistatic.com/warframe/uploads/thumb/5/5c/DmgFireSmall64.png/27px-DmgFireSmall64.png">
                                <span style="color:rgb(214,100,15)">火焰</span>
                            </span>
                            <span th:case="'冰冻'">
                                <img class="dmgImg" alt=""
                                     src="https://huiji-thumb.huijistatic.com/warframe/uploads/thumb/b/b1/DmgColdSmall64.png/27px-DmgColdSmall64.png">
                                <span style="color:rgb(63,109,198)">冰冻</span>
                            </span>
                            <span th:case="'电击'">
                                <img class="dmgImg" alt=""
                                     src="https://huiji-thumb.huijistatic.com/warframe/uploads/thumb/e/ea/DmgElectricitySmall64.png/27px-DmgElectricitySmall64.png">
                                <span style="color:rgb(174,125,198)">电击</span>
                            </span>
                            <span th:case="'毒素'">
                                <img class="dmgImg" alt=""
                                     src="https://huiji-thumb.huijistatic.com/warframe/uploads/thumb/4/4f/DmgToxinSmall64.png/27px-DmgToxinSmall64.png">
                                <span style="color:rgb(117,194,34)">毒素</span>
                            </span>
                        </span>
                    </div>

                    <div class="npc">
                        <div class="npcDetail" th:each="npc, info : ${moodSpiralsEntity.npc}">
                            <div>「</div>
                            <span class="purpleText" th:text="${npc.keySet().iterator().next()}"></span>
                            <div>」</div>
                            <span>将在</span>
                            <span class="blueText" th:text="${npc.values().iterator().next()}"></span>
                            <span>出现</span>
                        </div>
                        <div class="npcDetail" th:each="excludeNpc, info : ${moodSpiralsEntity.excludeNpc}">
                            <div>「</div>
                            <span class="orangeText" th:text="${excludeNpc.keySet().iterator().next()}"/>
                            <div>」</div>
                            <span>将不会出现在当前复眠螺旋中</span>
                        </div>
                    </div>
                    <div>
                        <div class="place">
                            <div class="eachPlace">
                                <div class="placeDetail"
                                     th:each="noExcludePlace, info : ${moodSpiralsEntity.noExcludePlace}">
                                    <div>「</div>
                                    <span class="purpleText" th:text="${noExcludePlace}"></span>
                                    <div>」</div>
                                </div>
                            </div>
                            <span>从王境中升起</span>
                        </div>
                        <div class="place">
                            <div class="eachPlace">
                                <div class="placeDetail"
                                     th:each="excludePlace, info : ${moodSpiralsEntity.excludePlace}">
                                    <div>「</div>
                                    <span class="purpleText" th:text="${excludePlace}"></span>
                                    <div>」</div>
                                </div>
                            </div>
                            <span>隐没与迷雾之中</span>
                        </div>
                    </div>

                    <div>
                        <span>将在:</span>
                        <span class="orangeText" th:text="${moodSpiralsEntity.remainTime}"/>
                        <span>后进入</span>
                        <span class="purpleText" th:text="${moodSpiralsEntity.nextState}"/>
                        <span>复眠螺旋</span>
                    </div>

                    <div class="place">
                        <div class="eachPlace">
                            <div class="placeDetail"
                                 th:each="nextExcludePlace, info : ${moodSpiralsEntity.nextExcludePlace}">
                                <div>「</div>
                                <span class="purpleText" th:text="${nextExcludePlace}"></span>
                                <div>」</div>
                            </div>
                        </div>
                        <span>将不会出现在此复眠螺旋中</span>
                    </div>

                    <div class="nightHelp">
                        <span>
                          其他的一些Warframe指令:
                        </span>
                        <div class="nightHelpDetail" style="grid-template-columns: repeat(2,auto)">
                            <span>/wr(紫卡查询)</span>
                            <span>/wm(wm市场查询)</span>
                            <span>/突击(每日突击信息)</span>
                            <span>/裂缝(开核桃裂缝信息)</span>
                            <span>/执行官(每周执行官信息)</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wuLiangInfo">
                <div class="wuLiangTxt">
                    <div style="color: gold;margin-right: 3px">★</div>
                    From WuLiang Bot
                </div>
            </div>
        </div>
    </body>
</html>