<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
    <head>
        <meta charset="UTF-8">
        <title>Warframe 紫卡信息</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/Other.css}">
        <link rel="stylesheet" type="text/css" href="/static/css/Other.css">
        <link rel="stylesheet" type="text/css" th:href="@{/css/Warframe.css}">
        <link rel="stylesheet" type="text/css" href="/static/css/Warframe.css">
        <style>
            body {
                padding: 10px;
                width: 600px;
                border-radius: 10px;
                font-family: "HanYiQiHei", serif;
            }

            .frame {
                width: 590px;
            }
        </style>
    </head>
    <body>
        <div class="frame">
            <div class="warframeLich" th:object="${nightWaveEntity}">
                <div class="warframeNightWaveHead">
                    <div>
                        <span>当前电波开始日期:</span>
                        <span class="blueText" th:text="${nightWaveEntity.activation}"/>
                    </div>
                    <div>
                        <span>这是开启后的第</span>
                        <span th:text="${nightWaveEntity.startString}"/>
                    </div>
                    <div>
                        <span>本期电波的结束日期为:</span>
                        <span class="blueText" th:text="${nightWaveEntity.expiry}"/>
                        <span>剩余</span>
                        <span class="orangeText" th:text="${nightWaveEntity.expiryString}"/>
                    </div>
                </div>
                <div class="nightTask">
                    <div class="eachNightTask" th:each="activeChallenge, info : ${nightWaveEntity.activeChallenges}">
                        <div>「</div>
                        <div class="purpleText" th:text="${activeChallenge.title}"/>
                        <div>」</div>
                        <span th:if="${activeChallenge.isDaily}">(<span class="greenText">日常</span>)</span>
                        <span class="sellDivisionText">--</span>
                        <span th:text="${activeChallenge.desc}"/>
                        <span class="sellDivisionText blueText" th:text="${activeChallenge.reputation}"/>
                        <span>声望</span>
                    </div>
                </div>
                <div class="nightHelp">
                <span>
                  其他的一些Warframe指令:
                </span>
                    <div class="nightHelpDetail">
                        <span>/wr(紫卡查询)</span>
                        <span>/wm(wm市场查询)</span>
                        <span>/突击(每日突击信息)</span>
                        <span>/裂缝(开核桃裂缝信息)</span>
                        <span>/执行官(每周执行官信息)</span>
                    </div>
                </div>
            </div>
            <div class="wuLiangInfo">
                <div class="wuLiangTxt">
                    <div style="color: gold; margin-right: 3px">★</div>
                    From WuLiang Bot
                </div>
            </div>
        </div>
    </body>
</html>
