<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
    <head>
        <meta charset="UTF-8">
        <title>Warframe 紫卡信息</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/Other.css}">
        <link rel="stylesheet" type="text/css" href="/static/css/Other.css">
        <link rel="stylesheet" type="text/css" th:href="@{/css/Warframe.css}">
        <link rel="stylesheet" type="text/css" href="/static/css/Warframe.css">
        <style>
            body {
                padding: 10px;
                width: 600px;
                border-radius: 10px;
                font-family: "HanYiQiHei", serif;
            }

            .frame {
                width: 590px;
            }
        </style>
    </head>
    <body>
        <div class="frame">
            <div class="warframeLich" th:object="${rivenOrderList}">
                <div class="warframeLichHead">
                    <span>你查找的</span>
                    <div class="purpleText" th:text="'「'+${rivenOrderList.itemName}+'」'">「信条·典客」</div>
                    <span>紫卡的前5条拍卖信息如下:</span>
                </div>
                <div class="lichTask">
                    <div class="eachRivenTask" th:each="orderList, info : ${rivenOrderList.orderList}">
                        <div class="rivenHead">
                            <div>「</div>
                            <div class="purpleText" th:text="${orderList.modName}"/>
                            <div>」</div>
                            <div class="rivenHeadDetailAll">
                                <span class="blueText" th:text="${orderList.modRank}+'级'"/>
                                <span class="blueText" th:text="${orderList.reRolls}+'洗'"/>
                                <span class="blueText" th:text="${orderList.masteryLevel}+'段'"/>
                                <span class="blueText" th:text="${orderList.polarity}+'槽'"/>
                            </div>
                        </div>
                        <div class="rivenPrice">
                            <span>起拍价:</span>
                            <span class="rivenPriceDetail blueText" th:text="${orderList.startPlatinum}"/>
                            <span>一口价:</span>
                            <span class="rivenPriceDetail blueText" th:text="${orderList.buyOutPlatinum}"/>
                        </div>
                        <div class="rivenPositive">
                            <div class="positiveAll">
                                <span class="positiveText">正面:</span>
                                <div class="eachPositive">
                                    <div th:each="positiveList, info :${orderList.positive}">
                                        <span th:text="' +'+${positiveList.urlName}+' '+${positiveList.value}+'%'"/>
                                    </div>
                                </div>
                            </div>
                            <div class="positiveAll" th:if="${orderList.negative.size()!=0}">
                                <span class="positiveText">负面:</span>
                                <div class="eachPositive">
                                    <div class="eachPositive" th:each="negativeList, info :${orderList.negative}">
                                        <span th:text="' '+${negativeList.urlName}+' '+${negativeList.value}+'%'"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sellerInfo">
                            <span class="purpleText" th:text="${orderList.user}"/>
                            <span>(</span>
                            <div class="greenText" th:text="${orderList.userStatus}"/>
                            <span>)</span>
                            <span class="sellDivisionText">---</span>
                            <span th:text="${orderList.updateTime}"/>
                            <span>上架</span>
                        </div>
                        <div style="width: 100%;display: flex;align-items: center;">
                            <span style="width: 100%;display: flex;justify-content: center;">-----------------------------------------------------------------</span>
                        </div>
                    </div>
                </div>
                <div class="rivenHelp">
                <span>
                    使用指令「/wr 你要查询的物品 正词条 负词条 循环次数」来查找需要的紫卡
                </span>
                    <span>
                    如： /wr 战刃 暴击 暴伤 负触发 30洗(只要有数字自动识别为循环次数)
                </span>
                    <span>
                  支持中文模糊查询  也可以单独查询任意条件哦
                </span>
                </div>
            </div>
            <div class="wuLiangInfo">
                <div class="wuLiangTxt">
                    <div style="color: gold; margin-right: 3px">★</div>
                    From WuLiang Bot
                </div>
            </div>
        </div>
    </body>
</html>
