<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
    <head>
        <meta charset="UTF-8">
        <title>Warframe 每日突击</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/Other.css}">
        <link rel="stylesheet" type="text/css" href="/static/css/Other.css">
        <link rel="stylesheet" type="text/css" th:href="@{/css/Warframe.css}">
        <link rel="stylesheet" type="text/css" href="/static/css/Warframe.css">
        <style>
            body {
                padding: 10px;
                width: 340px;
                border-radius: 10px;
                font-family: "HanYiQiHei", serif;
                margin: 0;
            }

            .frame {
                width: 330px;
            }
        </style>
    </head>
    <body>
        <div class="frame">
            <div class="warframeSortie" th:object="${sortieEntity}">
                <div class="sortieHead1">
                    <span>尊敬的Tenno阁下，这是今天的突击信息:</span>
                </div>
                <div class="sortieHead2">
                    <span class="blueText" th:text="${sortieEntity.faction}"/>
                    <span class="sortieBoss" th:text=" ${sortieEntity.boss}+' 给出的任务是:'"/>
                </div>
                <div class=sortieTask>
                    <div class="eachTask" th:each="task,info: ${sortieEntity.taskList}">
                        <div>
                            <div class="taskInfo">
                                <span>任务</span>
                                <span th:text="${info.index + 1}"/>:
                                <span class="sortieTaskType" th:text="${task.missionType}"/>
                                <span th:text="${task.node}"/>
                            </div>
                            <div class="taskBuff">
                                <span th:text="'- '+${task.modifier}"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="huntTime">
                    <span>剩余时间: </span>
                    <span class="huntTimeInfo" th:text="${sortieEntity.eta}"/>
                </div>
            </div>
            <div class="wuLiangInfo">
                <div class="wuLiangTxt">
                    <div style="color: gold;margin-right: 3px">★</div>
                    From WuLiang Bot
                </div>
            </div>
        </div>
    </body>
</html>