<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
    <head>
        <meta charset="UTF-8">
        <title>Warframe 钢铁之路</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/Other.css}">
        <link rel="stylesheet" type="text/css" href="/static/css/Other.css">
        <link rel="stylesheet" type="text/css" th:href="@{/css/Warframe.css}">
        <link rel="stylesheet" type="text/css" href="/static/css/Warframe.css">
        <style>
            body {
                padding: 10px;
                width: 500px;
                border-radius: 10px;
                font-family: "HanYiQiHei", serif;
                font-size: 20px;
                margin: 0;
            }

            .frame {
                width: 490px;
            }
        </style>
    </head>
    <body>
        <div class="frame">
            <div class="wfSteelPath" th:object="${steelPathEntity}">
                <div class="archonHuntHead">
                    <span>钢铁之路情况如下:</span>
                </div>
                <div class="steelPathInfo">
                    <span>本周可兑换的限时奖励:</span>
                    <span class="steelPathItem" th:text="${steelPathEntity.currentName}"/>
                    <span th:text="'-'+${steelPathEntity.currentCost}+'精华'"/>
                </div>
                <div class="huntTime">
                    <span>兑换剩余时间: </span>
                    <span class="huntTimeInfo" th:text="${steelPathEntity.remaining}"/>
                </div>
                <div class="nextSteelPathInfo">
                    <span>下周限时奖励:</span>
                    <span class="steelPathItem" th:text="${steelPathEntity.nextName}"/>
                    <span th:text="'-'+${steelPathEntity.nextCost}+'精华'"/>
                </div>
            </div>
            <div class="wuLiangInfo">
                <div class="wuLiangTxt">
                    <div style="color: gold;margin-right: 3px">★</div>
                    From WuLiang Bot
                </div>
            </div>
        </div>
    </body>
</html>