<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
    <head>
        <meta charset="UTF-8">
        <title>Warframe 虚空商人</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/Other.css}">
        <link rel="stylesheet" type="text/css" href="/static/css/Other.css">
        <link rel="stylesheet" type="text/css" th:href="@{/css/Warframe.css}">
        <link rel="stylesheet" type="text/css" href="/static/css/Warframe.css">
        <style>
            body {
                padding: 10px;
                width: 500px;
                border-radius: 10px;
                font-family: "HanYiQiHei", serif;
                font-size: 20px;
                margin: 0;
            }

            .frame {
                width: 490px;
            }
        </style>
    </head>
    <body>
        <div class="frame">
            <div class="warframeVoidTrader" th:object="${voidTrader}">
                <div class="voidTraderHead">
                    <span>在</span>
                    <div class="voidTraderLocation" th:text="${voidTrader.location}"></div>
                    <span>虚空商人带来了这些物品:</span>
                </div>
            </div>
            <div class="voidItem">
                <div class="voidItemEach" th:each="voidItem,info: ${voidTrader.items}">
                    <span>「</span><span class="voidItemName" th:text="${voidItem.item}"/><span>」</span>
                    <span class="voidDucats" th:text="${voidItem.ducats}"/><span>杜卡德</span>
                    <span class="voidCredits" th:text="${voidItem.credits}"/><span>现金</span>
                </div>
            </div>
            <div>
                <span>他将在</span>
                <span class="voidLeaveTime" th:text="${voidTrader.time}"/>
                <span>后跑路</span>
            </div>
            <div class="wuLiangInfo">
                <div class="wuLiangTxt">
                    <div style="color: gold;margin-right: 3px">★</div>
                    From WuLiang Bot
                </div>
            </div>
        </div>
    </body>
</html>