<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bot.wuliang.mapper.WfMarketItemMapper">

    <insert id="insertMarketItem" parameterType="java.util.List">
        INSERT INTO wf_market_item (id, en_name, zh_name, url_name,ducats, use_count) VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.id}, #{item.enName}, #{item.zhName}, #{item.urlName}, #{item.ducats}, #{item.useCount})
        </foreach>
        ON DUPLICATE KEY UPDATE
        en_name = VALUES(en_name),
        zh_name = VALUES(zh_name),
        url_name = VALUES(url_name),
        ducats = VALUES(ducats),
        use_count = VALUES(use_count);
    </insert>

    <select id="batchSelectBySubstrings" resultType="bot.wuliang.entity.WfOtherNameEntity">
        SELECT id,other_name, en_item_name
        FROM wuliang.wf_other_name
        WHERE
        <foreach item="substring" index="index" collection="sortedSubstrings" open="(" separator=" OR " close=")">
            LOWER(other_name) = LOWER(#{substring})
        </foreach>
        UNION
        SELECT id,other_name, en_item_name
        FROM wuliang.wf_other_name
        WHERE
        <foreach item="substring" index="index" collection="sortedSubstrings" open="(" separator=" OR " close=")">
            LOWER(en_item_name) = LOWER(#{substring})
        </foreach>
    </select>

    <select id="selectItemByFuzzyMatching" parameterType="java.util.Map" resultType="bot.wuliang.entity.WfMarketItemEntity">
        SELECT id, en_name, zh_name, url_name, use_count
        FROM wf_market_item
        WHERE (url_name LIKE CONCAT('%', #{paramsMap.finalQueryString}, '%')
            OR zh_name REGEXP #{paramsMap.finalQueryStringRegex}
            OR en_name LIKE CONCAT('%', #{paramsMap.finalQueryString}, '%')
            OR zh_name REGEXP #{paramsMap.zhRegex}
            OR en_name LIKE CONCAT('%', #{paramsMap.zh}, '%')
            OR url_name LIKE CONCAT('%', #{paramsMap.zh}, '%')
                  );
    </select>

    <select id="batchSelectByZhNameList" parameterType="java.util.List" resultType="bot.wuliang.entity.WfMarketItemEntity">
        SELECT id, en_name, zh_name, url_name, use_count
        FROM wf_market_item
        WHERE zh_name IN
        <foreach collection="zhNameList" item="zhName" open="(" separator="," close=")">
            #{zhName}
        </foreach>
    </select>
</mapper>
