<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/GachaLog.css}">
        <link rel="stylesheet" type="text/css" href="/static/css/GachaLog.css">
    </head>
    <body>
        <div class="gachaAll">
            <div class="background">
                <span class="gachaTypeText">角色UP祈愿</span>
                <div class="eachCard">
                    <div class="eachData">
                        <div th:each="role: ${roles}" class="eachOne">
                            <div th:if="${role.itemName != null}">
                                <div class="itemContainer" th:if="${role.itemName != null}"
                                     th:style="${role.itemName != null} ? 'visibility: visible;' : 'visibility: hidden;'">
                                    <div class="container">
                                        <img class="backImg" th:src="@{'/images/sources/'+${role.itemAttribute}+'.png'}"
                                             alt="First Image">
                                        <img class="firstImg"
                                             th:src="@{${role.isEmpty() ? '/images/role/' + role.itemName  : '/images/role/default.png' }}"
                                             th:alt="${role.itemName}">
                                        <img class="overlay-image" th:src="@{'/images/sources/角色框.png'}"
                                             alt="Second Image">
                                    </div>
                                    <div th:with="percentage=${(role.times / 90.0) * 100}" class="progress-container">
                                        <div th:text="${role.times} + '抽'" class="getTimes"></div>
                                        <div th:style="'width: ' + ${percentage} + '%; background-color: ' + (${percentage} < 25 ? 'rgba(0,128,0, 0.5);' : (${percentage} < 50 ? 'rgba(255, 255, 0, 0.5);' : (${percentage} < 75 ? 'rgba(255,165,0,0.5);' : 'rgba(255, 0, 0, 0.5);')))"
                                             class="progress-bar"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="itemContainer" th:if="${role.itemName == null}"
                                 th:style="${role.itemName != null} ? 'visibility: visible;' : 'visibility: hidden;'">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="background">
                <span class="gachaTypeText">武器UP祈愿</span>
                <div class="eachCard">
                    <div class="eachData">
                        <div th:each="weapon : ${weapons}" class="eachOne">
                            <div th:if="${weapon.itemName != null}">
                                <div class="weaponContainer" th:if="${weapon.itemName != null}"
                                     th:style="${weapon.itemName != null} ? 'visibility: visible;' : 'visibility: hidden;'">
                                    <img class="backImgWeapon" th:src="@{'/images/weapons/bg5.png'}" alt="First Image">
                                    <img class="weaponImg"
                                         th:src="@{${weapon.isEmpty() ? 'images/weapons/' + weapon.itemName  : '/images/role/default.png' }}"
                                         alt="">
                                    <div th:with="percentage=${(weapon.times / 90.0) * 100}" class="progress-container">
                                        <div th:text="${weapon.times} + '抽'" class="getTimes"></div>
                                        <div th:style="'width: ' + ${percentage} + '%; background-color: ' + (${percentage} < 25 ? 'rgba(0,128,0, 0.5);' : (${percentage} < 50 ? 'rgba(255, 255, 0, 0.5);' : (${percentage} < 75 ? 'rgba(255,165,0,0.5);' : 'rgba(255, 0, 0, 0.5);')))"
                                             class="progress-bar"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="itemContainer" th:if="${weapon.itemName == null}"
                                 th:style="${weapon.itemName != null} ? 'visibility: visible;' : 'visibility: hidden;'">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="background">
                <span class="gachaTypeText">常驻祈愿</span>
                <div class="eachCard">
                    <div class="eachData">
                        <div th:each="permanent : ${permanents}" class="eachOne">
                            <div th:if="${permanent.itemName != null}">
                                <div class="itemContainer" th:if="${permanent.itemName != null}"
                                     th:style="${permanent.itemName != null} ? 'visibility: visible;' : 'visibility: hidden;'">

                                    <div th:if="${permanent.itemType=='角色'}">
                                        <div class="container">
                                            <img class="backImg"
                                                 th:src="@{'/images/sources/'+${permanent.itemAttribute}+'.png'}"
                                                 alt="First Image">
                                            <img class="firstImg"
                                                 th:src="@{${permanent.isEmpty() ? '/images/role/' + permanent.itemName  : '/images/role/default.png' }}"
                                                 th:alt="${permanent.itemName}">
                                            <img class="overlay-image" th:src="@{'/images/sources/角色框.png'}"
                                                 alt="Second Image">
                                        </div>
                                    </div>
                                    <div th:if="${permanent.itemType=='武器'}">
                                        <div class="weaponContainer">
                                            <img class="backImgWeapon" th:src="@{'/images/weapons/bg5.png'}"
                                                 alt="First Image">
                                            <img class="weaponImg"
                                                 th:src="@{${permanent.isEmpty() ? '/images/weapons/' + permanent.itemName  : '/images/role/default.png' }}"
                                                 alt="">
                                        </div>
                                    </div>
                                    <div th:with="percentage=${(permanent.times / 90.0) * 100}"
                                         class="progress-container">
                                        <div th:text="${permanent.times} + '抽'" class="getTimes"></div>
                                        <div th:style="'width: ' + ${percentage} + '%; background-color: ' + (${percentage} < 25 ? 'rgba(0,128,0, 0.5);' : (${percentage} < 50 ? 'rgba(255, 255, 0, 0.5);' : (${percentage} < 75 ? 'rgba(255,165,0,0.5);' : 'rgba(255, 0, 0, 0.5);')))"
                                             class="progress-bar"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="itemContainer" th:if="${permanent.itemName == null}"
                                 th:style="${permanent.itemName != null} ? 'visibility: visible;' : 'visibility: hidden;'">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script th:inline="javascript">
            const div1 = document.getElementsByClassName('progress-container')[0];
            const width = div1.offsetWidth;
            const height = width / 0.75;
            console.log(width);
            console.log(height);

            const divs = document.getElementsByClassName('container');

            for (let i = 0; i < divs.length; i++) {
                divs[i].style.width = width + 'px';
                divs[i].style.height = height + 'px';
            }

            console.log('First div with class "container" width:', divs[0].style.width);
            console.log('First div with class "container" height:', divs[0].style.height);
        </script>

    </body>
</html>